* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:monospace
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 2rem;
}

.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eaeaea;
  margin: 1rem;
  padding: 1rem 1.5rem;
  width: 15rem;
}

.pokemon h2 {
  margin-bottom: .75rem;
}

.pokemon img {
  width: 8rem;
  height: auto;
}