@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Orbitron&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 3rem;
  background-color: #FF4D4D;
  margin-bottom: 0.75rem;
}
#nav-bar #search-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
}
#nav-bar #search-section #search-icon {
  color: #F9F6EE;
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
}
#nav-bar #search-section #search-icon:hover {
  scale: 1.1;
  transition: 0.25s;
}
#nav-bar #search-section #search-pokemon {
  display: flex;
  align-items: center;
  background-color: #f9f6ee;
  width: 14rem;
  height: 2rem;
  padding: 0.2rem;
  gap: 0.2rem;
}
#nav-bar #search-section #search-pokemon #pokemon-search-input {
  width: 90%;
  height: 100%;
  border: none;
  background-color: #f9f6ee;
  letter-spacing: 0.08rem;
  font-family: "Orbitron", sans-serif;
  font-size: 1rem;
}
#nav-bar #search-section #search-pokemon #pokemon-search-input:focus {
  outline: none;
}
#nav-bar #search-section #search-pokemon ::-webkit-input-placeholder {
  letter-spacing: 0.08rem;
  font-family: "Orbitron", sans-serif;
  opacity: 0.7;
}
#nav-bar #search-section #x-icon {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}
#nav-bar #search-section #x-icon:hover {
  scale: 1.1;
  transition: 0.25s;
}

#container {
  position: relative;
  min-height: 91.5vh;
}
#container #background-blur {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../assets/pokemons-wallpapers.png");
  filter: blur(3px);
  background-repeat: repeat-y;
  z-index: -1;
}

#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 2rem;
  z-index: 1;
}
#content .pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #FF4D4D;
  border-top: 2px solid rgba(0, 0, 0, 0.4);
  border-right: 10px solid rgba(139, 0, 0, 0.7);
  border-bottom: 10px solid rgba(0, 0, 0, 0.7);
  border-left: 2px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin: 1rem;
  width: 16rem;
  height: 22rem;
}
#content .pokemon .pokemon-id {
  background-color: #F9F6EE;
  border-radius: 0.7rem;
  border: 1px solid #000;
  font-family: "Open sans", sans-serif;
  font-weight: 700;
  padding: 0.1rem 0.4rem;
}
#content .pokemon .pokemon-names {
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.08rem;
  text-align: center;
}
#content .pokemon .big-pokemon-names {
  font-family: "Orbitron", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.08rem;
  text-align: center;
}
#content .pokemon .pokemon-images-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 8rem;
  background-color: #F9F6EE;
  border-radius: 5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
#content .pokemon .pokemon-images-div .pokemon-image {
  width: 5rem;
  height: 5rem;
}
#content .pokemon .pokemon-images-div .pokemon-image-no-gif {
  width: 7rem;
  height: 7rem;
}
#content .pokemon .pokemon-type-card * {
  color: #F9F6EE;
  padding: 0.25rem;
  border-radius: 0.5rem;
  border: 2px solid #36454F;
  letter-spacing: 0.04rem;
  font-weight: 600;
}
#content .pokemon .pokemon-type-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  font-family: "Open sans", sans-serif;
}
#content .pokemon .pokemon-type-card .pokemon-type-normal {
  background-color: #A8A878;
}
#content .pokemon .pokemon-type-card .pokemon-type-fire {
  background-color: #F08030;
}
#content .pokemon .pokemon-type-card .pokemon-type-water {
  background-color: #6890F0;
}
#content .pokemon .pokemon-type-card .pokemon-type-grass {
  background-color: #78C850;
}
#content .pokemon .pokemon-type-card .pokemon-type-eletric {
  background-color: #F8D030;
}
#content .pokemon .pokemon-type-card .pokemon-type-ice {
  background-color: #98D8D8;
}
#content .pokemon .pokemon-type-card .pokemon-type-fighting {
  background-color: #C03028;
}
#content .pokemon .pokemon-type-card .pokemon-type-poison {
  background-color: #A040A0;
}
#content .pokemon .pokemon-type-card .pokemon-type-ground {
  background-color: #E0C068;
}
#content .pokemon .pokemon-type-card .pokemon-type-flying {
  background-color: #A890F0;
}
#content .pokemon .pokemon-type-card .pokemon-type-psychic {
  background-color: #F85888;
}
#content .pokemon .pokemon-type-card .pokemon-type-bug {
  background-color: #A8B820;
}
#content .pokemon .pokemon-type-card .pokemon-type-rock {
  background-color: #B8A038;
}
#content .pokemon .pokemon-type-card .pokemon-type-ghost {
  background-color: #705898;
}
#content .pokemon .pokemon-type-card .pokemon-type-dragon {
  background-color: #7038F8;
}
#content .pokemon .pokemon-type-card .pokemon-type-dark {
  background-color: #705848;
}
#content .pokemon .pokemon-type-card .pokemon-type-steel {
  background-color: #B8B8D0;
}
#content .pokemon .pokemon-type-card .pokemon-type-fairy {
  background-color: #F0B6BC;
}
#content .pokemon .pokemon-attr-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 0.5rem;
  border: 1px solid #000;
  padding: 0.4rem;
  gap: 0.2rem;
  background-color: #F9F6EE;
  width: 13.6rem;
}
#content .pokemon .pokemon-attr-card .pokemon-attr {
  font-family: "Open sans", sans-serif;
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
}
#content .pokemon:hover {
  scale: 1.1;
  transition: 0.75s;
}/*# sourceMappingURL=index.css.map */