@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Orbitron&display=swap');

    $name-fonts: 'Orbitron', sans-serif;
    $text-fonts: 'Open sans', sans-serif;

    // $pokemon-bc-color-normal: #A8A878;
    // $pokemon-bc-color-fire: #F08030;
    // $pokemon-bc-color-water: #6890F0;
    // $pokemon-bc-color-grass: #78C850;
    // $pokemon-bc-color-eletric: #F8D030;
    // $pokemon-bc-color-ice: #98D8D8;
    // $pokemon-bc-color-fighting: #C03028;
    // $pokemon-bc-color-poison: #A040A0;
    // $pokemon-bc-color-ground: #E0C068;
    // $pokemon-bc-color-flying: #A890F0;
    // $pokemon-bc-color-psychic: #F85888;
    // $pokemon-bc-color-bug: #A8B820;
    // $pokemon-bc-color-rock: #B8A038;
    // $pokemon-bc-color-ghost: #705898;
    // $pokemon-bc-color-dragon: #7038F8;
    // $pokemon-bc-color-dark: #705848;
    // $pokemon-bc-color-steel: #B8B8D0;
    // $pokemon-bc-color-fairy: #F0B6BC;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 3rem;
    background-color: #FF4D4D;
    margin-bottom: .75rem;
    position: fixed;
    z-index: 1;

    #home-container {
        flex: 1;

        #home-icon {
            display: flex;
            width: 2rem;
            height: 2rem;
            cursor: pointer;
            margin-left: 1rem;
            margin-right: .75rem;
        }
    }

    #search-section {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: center;
        gap: .4rem;

        #search-pokemon {
            display: flex;
            align-items: center;
            background-color: #f9f6ee;
            width: 15.75rem;
            height: 2rem;
            padding: .2rem;
            gap: .2rem;


            #pokemon-search-input {
                width: 90%;
                height: 100%;
                border: none;
                background-color: #f9f6ee;
                letter-spacing: 0.08rem;
                font-family: $name-fonts;
                font-size: 1rem;
                
            }

            #pokemon-search-input:focus {
                outline: none;
            
            }

            ::-webkit-input-placeholder {
                letter-spacing: 0.08rem;
                font-family: $name-fonts;
                opacity: 0.70;
            } 
        }

        #search-icon {
            width: 1rem;
            height: 1rem;
            cursor: pointer;
        }

        #search-icon:hover {
            scale: 1.1;
            transition: .25s;
        }
    }

    #aux {
        flex: 1;
        border-width: 1px;
        border-color: #000;
    }
}

#container {
    position: relative;
    min-height: 100vh;

    #background-blur {
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url('../assets/pokemons-wallpapers.png');
        filter: blur(3px);
        background-repeat: repeat-y;
        z-index: -1;
    }
}


#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 4rem 2rem;
    z-index: 1;
    

    .pokemon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: #FF4D4D;
        border-top: 2.25px solid  rgba(0, 0, 0, 0.4);
        //old 2
        border-right: 12.5px solid rgba(139, 0, 0, 0.7);
        border-bottom: 12.5px solid rgba(0, 0, 0, 0.7);
        //old right and bottom 10px
        border-left: 2.25px solid  rgba(0, 0, 0, 0.4);
        //old 2
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        margin: 1rem;
        width: 18rem;
        height: 24.64rem;
        padding: 0.5rem;
        //old value: 22rem height 16rem height
    
        .pokemon-id{
            background-color: #F9F6EE;
            border-radius: 0.7rem;
            border: 1.125px solid #000;
            //old 1px
            font-family: $text-fonts;
            font-weight:700;
            font-size: 1.125rem;
            padding: .1rem .4rem;
        }

        .pokemon-names {
            font-family: $name-fonts;
            font-size: 1.5rem;
            letter-spacing: 0.08rem;
            text-align: center;
        }

        .big-pokemon-names {
            font-family: $name-fonts;
            font-size: 1.3rem;
            letter-spacing: 0.08rem;
            text-align: center;
        }

        .pokemon-images-div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 9rem;
            height: 9rem;
            //old 8rem on height and  width
            background-color: #F9F6EE;
            border-radius: 5rem;
            box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);

            .pokemon-image {
                width: 5.625rem;
                height: 5.625rem;
                // 5rem width and height
            }

            .pokemon-image-no-gif {
                width: 7.875rem;
                height: 7.875rem;

                //old 7rem both
            }
        }

        .pokemon-type-card * {
            color: #F9F6EE;
            padding: 0.25rem;
            border-radius: 0.5rem;
            border: 2.25px solid #36454F;
            //old 2px
            letter-spacing: 0.04rem;
            font-weight: 600;
            font-size: 1.125rem;
            //old 1 rem
        }
        
        .pokemon-type-card {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: .5rem;
            width: 100%;
            font-family: $text-fonts;

            .pokemon-type-normal {
                background-color: #A8A878;
            }

            .pokemon-type-fire {
                background-color: #F08030;
            }

            .pokemon-type-water {
                background-color: #6890F0;
            }

            .pokemon-type-grass {
                background-color: #78C850;
            }

            .pokemon-type-eletric {
                background-color: #F8D030;
            }

            .pokemon-type-ice {
                background-color: #98D8D8;
            } 

            .pokemon-type-fighting {
                background-color: #C03028;
            }

            .pokemon-type-poison {
                background-color: #A040A0;
            }

            .pokemon-type-ground {
                background-color: #E0C068;
            }

            .pokemon-type-flying {
                background-color: #A890F0;
            }

            .pokemon-type-psychic {
                background-color: #F85888;
            }

            .pokemon-type-bug {
                background-color: #A8B820;
            } 

            .pokemon-type-rock {
                background-color: #B8A038;
            } 

            .pokemon-type-ghost {
                background-color: #705898;
            } 

            .pokemon-type-dragon {
                background-color: #7038F8;
            } 

            .pokemon-type-dark {
                background-color: #705848;
            } 

            .pokemon-type-steel {
                background-color: #B8B8D0;
            } 

            .pokemon-type-fairy {
                background-color: #F0B6BC;
            }
        }
    
        .pokemon-attr-card {
            display: grid;
            grid-template-columns: 1fr 1fr;
            border-radius: 0.5rem;
            border: 1.125px solid #000;
            //old 1px
            padding: 0.4rem;
            gap: 0.2rem;
            background-color: #F9F6EE;
            //background: rgb(185,185,185);
            //background: linear-gradient(45deg, rgba(209,209,209,1) 2%, rgba(234,234,234,1) 10%);
            width: 15.3rem;
            // old 13.6rem

            .pokemon-attr {
                font-family: $text-fonts;
                font-size: 1rem;
                text-align: center;
                font-weight: 600;

            }
        }
    }

    .pokemon:hover {
        scale: 1.1;
        transition: .75s;

    }
}
//TODO: criar o estilo da parte de tras da carta e fazer o efeito de flip








